<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers List</title>
    <link rel="stylesheet" href="css/customers.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="container">
    <div class="header-buttons">
        <a href="/admin/customers" class="btn btn-info">Customers</a>
    </div>
</header>

<div class="container">
    <h2>Orders:</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Cost</th>
            <th>Data</th>
        </tr>
        </thead>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.getCost()}"></td>
            <td th:text="${order.getDate()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>