<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - EveryDayCoffee</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .product-image {
            width: 100px;
            height: auto;
        }
    </style>
</head>
<body>
<header class="container">
    <div class="header-buttons">
        <a href="/logout" class="btn btn-info">Escape</a>
        <a th:href="@{/user/busket}" class="btn btn-info">Basket</a>
    </div>
</header>

<div class="container">
    <h2>Products:</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>
            <th>Busket</th>
        </tr>
        </thead>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.getId()}"></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getDescription()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getCategory()}"></td>
            <td>
                <img th:src="@{${product.getImage()}}" alt="Product Image" class="product-image">
            </td>
            <td>
                <form th:action="@{/user/add/{id}(id=${product.getId()})}" th:method="POST">
                    <input type="submit" value="Add to basket">
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>